*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-medium;
  line-height: $line-height-default;
  color: #333;
  min-height: 100vh;
}

@include media(mobile) {
  html {
    font-size: 40%;
  }

  body {
    font-size: $font-size-small;
  }
}

@include media(tablet) {
  html {
    font-size: 45%;
  }

  body {
    font-size: $font-size-medium;
  }
}

@include media(desktop) {
  html {
    font-size: 50%;
  }

  body {
    font-size: $font-size-medium;
  }
}
