.profile {
  padding: 5rem 0;
  display: flex;

  @include media(mobile) {
    flex-direction: column;
    align-items: center;
  }

  @include media(tablet) {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 20rem;
    align-self: flex-start;
    position: relative;

    & > img {
      width: 90%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    @include media(mobile) {
      width: 100%;
      height: 10rem;
      margin-bottom: 1rem;
    }

    &__upload {
      position: absolute;
      top: 10%;
      right: 40%;
    }
  }

  &__tasks {
    background-color: $color-grey-light-2;
    padding: 1rem 1rem;

    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @include media(mobile) {
      flex-direction: column;
    }

    &-fields {
      display: flex;

      width: 100%;
    }
  }
}
