.register__layout {
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}
