<!--splash screen-->
<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-6 splash__content">
        <!-- <img src="/images/logo.png" alt="logo" class="logo"> -->
        <h1>splash</h1>
        <p>
          Welcome to <span class="splash__content-app-name">Taskify</span> task
          manager. This is a simple task manager that allows you to create,
          edit, delete and view tasks. You can also create, edit, delete and
          view user
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(function () {
    window.location = "/auth/login";
  }, 5000);
</script>
