.form {
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  height: max-content;
  background-color: rgba($color-white, 0.5);
  box-shadow: 0 0.5rem 1rem rgba($color-dark-grey, 0.2);
  border-radius: 0.5rem;

  &__group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__control {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: $font-size-medium;
    transition: all 0.3s;

    &:focus {
      border-color: #333;
    }
  }

  &__label {
    font-size: $font-size-medium;
    margin-bottom: 0.5rem;
  }
}
