<div>
  <form
    action="{{path}}"
    method="post"
    target="_self"
    class="form__group task__input"
  >
    <img src="./../img/svgs/circle.svg" alt="" class="task__input__icon" />
    <input
      type="text"
      class="form__control task__input__input"
      name="task_content"
      placeholder="Add some task"
      id="task__input"
    />
    <button
      type="submit"
      class="link btn--primary utility-padding-x-small utility-border-radius-small"
      id="postTask"
    >
      save
    </button>
  </form>
</div>
