//colors

$color-primary: #e34510;
$color-primary-light: #ff7a45;
$color-primary-dark: #ac0200;

$color-secondary: #0b2cd0;
$color-secondary-light: #3e5eff;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #f4eeee;
$color-dark-grey: #333;
$color-grey: #777;

$color-white: #fff;

//fonts
$font-primary: "Lato", sans-serif;
$font-secondary: "Roboto", sans-serif;

//font sizes
$font-size-xx-small: 1rem;
$font-size-x-small: 1.2rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;

//line heights
$line-height-small: 1.2;
$line-height-default: 1.5;

//break points
// Mobile – 360 x 640; 375 x 667; 360 x 720.
// Tablet – 768 x 1024.
// iPhone – 375 x 812.
// Laptop – 1366 x 768.
// Desktop or high-resolution laptop – 1920 x 1080.

$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 48em;
$breakpoint-desktop: 56.25em;
$breakpoint-large-desktop: 75em;


